 body {
    background-color: lightblue;
  }

  label {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
  }

  h1 {
    color: white;
    text-align: center;
    font-family:sunflower;
    font-size:50px;
  }
  
  p {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }

  button {   
    background-color: black;   
    width: 100%;  
     color: lightblue;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }   

form {   
    border: 3px solid #f1f1f1;   
}

.container {   
  padding: 25px;   
  background-color: lightblue;  
}

input[type=text], input[type=password] {   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid black;   
  box-sizing: border-box;   
}  