.top {
    background-color:ghostwhite;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color:lightblue;
}

.topbut {
    padding-left: 1600px;
}


body {
    background-image: url('white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top h1 {
    font-family: monospace;
}

.randomtext {
    background-color:ghostwhite;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color:lightblue;

}

.button1 {
    background-color: black; /* Green */
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button2 {
    background-color: white; /* Green */
    border: none;
    color:lightblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }